@model Entity.Concrete.Blog

@{
    ViewBag.Title = "title";
    Layout = "AuthorLayout";
}

<div class="col-md-6 m-auto">
    <h2 class="mb-3 text-center">Blog Düzenle</h2>
    @using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post, new { @class = "form-sample" }))
    {
        <div class="form-sample">
            <div class="form-group" style="display: none;">
                @Html.Label("Blog Id")
                @Html.TextBoxFor(x => x.BlogId, new { @class = "form-control bg-gradient-light text-dark rounded" , @readonly = "true" })
            </div>
            <div class="form-group">
                @Html.Label("Blog Başlığı")
                @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control bg-gradient-light text-dark rounded" })
                @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="display: none;">
                @Html.Label("Blog Oluşturulma Tarihi")
                @Html.TextBoxFor(x => x.BlogCreateDate, new { @class = "form-control bg-gradient-light text-dark rounded", @readonly = "true" })
            </div>
            <div class="form-group">
                @Html.Label("Blog Görseli")
                @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control bg-gradient-light text-dark rounded" })
                @Html.ValidationMessageFor(x => x.BlogImage, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Blog Küçük Görseli")
                @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control bg-gradient-light text-dark rounded" })
            </div>
            <div class="form-group">
                @Html.Label("Kategori")
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.category, new { @class = "form-control bg-gradient-light text-dark  rounded" })
            </div>
            <div class="form-group">
                @Html.Label("Blog İçeriği")
                @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control bg-gradient-light text-dark rounded" })
                @Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <button class="btn btn-gradient-primary">Kaydet</button>
    }
</div>